body {
    background-color: #f4f4f4;
}

.header {
    background-color: #aed269;
}

.footer {    
    background-color: #aed269;
    margin-top: 40px;
}
/***********Formulario Crear*************/

.crearConsulta {
    background-color: #724293;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    margin: 40px 0px 0px 40px;  
}

#contImgCrear{
    /*background-color: aqua;*/
    width: 50%;
    height: 100%;
    float: left;
    margin-top: 70px;
}

#contTextoCrear{
    /*background-color: green;*/
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    color: black;
    margin-top: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 11fr);
}

#BotCrear{
    padding-top: 30px;
    margin-left: 960px;
    
}

#cuerpo{
    height: 500px;
}

#recevImg{
    height: 100%;
    width: 100%;
}

#contImg{
    height: 80%;
    width: 100%;
    object-fit: contain;
}

.delimit{
    height: 80%;
}

#controlHid{
    border-width: 0px;
    background-color: #f4f4f4;
}

/***************Formulario Editar*******************/
.eliminarEditar {
    display: inline-block;
    background-color: #724293;
    color: #fff;
}

#contImgEditar{
    /*background-color: aqua;*/
    width: 50%;
    height: 100%;
    float: left;
    margin-top: 70px;
}

#contTextoEditar{
    /*background-color: green;*/
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    color: black;
    margin-top: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 11fr);
}

#recevImgEdit{
    height: 100%;
    width: 100%;
}

#ImgMuestra{
    height: 80%;
    width: 100%;
    object-fit: contain;
}

/****************Formulario Buscar***************/
#filtroBuscar{
    /*background-color: #aed269;*/
    width: 100%;
    height: 16vh;
    margin-top: 25px;
}

#ContFiltro{
    width: 60%;
    float: left;
    /*display: grid;
    grid-template-columns: repeat(3, 2fr);*/
}

#ContBot{
    width: 40%;
    float: right;
    text-align: center;
}

#ResultBusqueda{
    padding: 30px;
    background-color: #f4f4f4;
}